{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'edit.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}">
</head>
<body>

 {% if messages %}
<div class="errormsg">
  {% for message in messages %}
  <span>{{ message }}</span>

  {% endfor %}
</div>
  {% endif %}
  
   <div class="container">
        <div class="buttonnav">
         <a class="openbar" onclick="openNavbar()">☰</a> 
       </div>
        <div class="dropdown-content" id="dropmenu">
       <a class="closemenu" onclick="closeNavbar()">&times;</a>  

      {% if user. %}
      <a href="{% url 'profile-page' %}">Profile</a>
      <a href="{% url 'create-team' %}">Create Team</a>
      <a href="{% url 'join-team' %}">Join Team</a>
      <a href="">Past Drives</a>
      <a href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'login-page' %}">Profile</a>
      <a href="{% url 'login-page' %}">Create Team</a>
      <a href="{% url 'login-page' %}">Join Team</a>
      <a href="">Past Drives</a>
      <a href="{% url 'login-page' %}">Login/Signup</a>
      {% endif %}
    </div>
        <div class="header-left" id="topnav">


          {% if user %}
          <ul>
              
            <li><a href="{% url 'profile-page' %}">Profile</a></li>
            <li><a href="{% url 'create-team' %}">Create Team</a></li>
            <li><a href="{% url 'join-team' %}">Join Team</a></li>
            <li><a href="">Past Drives</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
         {% else %}
         <ul>
              
            <li><a href="{% url 'login-page' %}">Profile</a></li>
            <li><a href="{% url 'login-page' %}">Create Team</a></li>
            <li><a href="{% url 'login-page' %}">Join Team</a></li>
            <li><a href="">Past Drives</a></li>
            <li><a href="{% url 'logout' %}"></a>Login/Signup</li>
          </ul>
         {% endif %}
        </div>
      </div>  

	<div class="forms">

<div class="container2">
  <form method = 'POST'>
    {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <label for="fname">Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="name" placeholder="{{user.name}}">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Gender</label>
      </div>
      <div class="col-75">
          <input type="radio" id="male" name="gender" value="male">
		  <label for="male">Male</label><br>
		  <input type="radio" id="female" name="gender" value="female">
		  <label for="female">Female</label><br>
      <input type="radio" id="other" name="gender" value="other">
      <label for="female">Other</label><br>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="age">Age</label>
      </div>
      <div class="col-75">
        <input type="text" id="age" name="age" placeholder = '{{user.age}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="addr">Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="addr" name="address" placeholder="{{user.address}}" >
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="mail">E mail</label>
      </div>
      <div class="col-75">
        <input type="text" id="mail" name="email" placeholder = "{{user.email}}">
      </div>
    </div>
    
    <div class="row">
      <div class="col-25">
        <label for="proff">Profession</label>
      </div>
      <div class="col-75">
        <input type="text" id="proff" name="profession" placeholder='{{user.profession}}'>
      </div>
    </div>
    
    <div class="row">
      <div class="col-25">
        <label for="contr">Contact</label>
      </div>
      <div class="col-75">
        <input type="text" id="contr" name="contact" placeholder = '{{user.contact}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
         <label for="img">Upload profile photo </label>
      </div>
      <div class="col-75">
       <input type="file" id="img" name="img" accept="image/*" class = 'image_browse'>
      </div>
    </div>
    <br>

    
    <div class="row" >
      <div style="text-align:center; " >
      <input type="submit" value="Submit">
    </div>
    </div>

  </form>

</div>
	</div>
  <script type="text/javascript" src="{% static 'nav.js' %}"></script>

</body>
</html>